{% extends "base.html" %}
{% block title %}À propos - Clean Company{% endblock %}
{% block content %}
<h2>A propos de <strong>H's Essentials</strong></h2>
<p>Chez <strong>H's Essentials</strong>, <i>vos essentiels sont notre priorité.</i>
Nous sommes une entreprise spécialisés dans les services essentiels du quotidien 
(nettoyage, accueil, protocol, nounous, bonne et services traiteur). <br> <br>
Notre mission est d'offrir à chaque client une experience sur mesure,
basé sur le <strong>savoir-faire</strong>, la <strong>disponibilité</strong> et 
la <strong>courtoisie</strong> de notre equipe. <br>
Nous mettons un point d'honneur à valoriser l'image et le confort de nos clients,
en garantissant un service toujour impeccable. <br> <br>
Animés par une vision d'excellence, nous aspirons à devenir
 <strong>la référence incontournable</strong> dans le domaine de l'hospitalité
 et du service à domicile. <br>
 Dans cette dynamique, nous chaque jour à <strong>renforcer la qualité de nos préstations</strong>,
 à <strong>former une equipe stable et compétente</strong> et à <strong>étendre nos services dans plusieurs villes</strong>,
en développant des <strong>partenariat</strong>
</p>
<h3>Nos valeurs</h3>
<ul>
  <li>Elégance et discrétion</li>
  <li>Qualité du service</li>
  <li>Disponibilité et angagement</li>
  <li>Fiabilité</li>
  <li>Respect et confiance</li>
  <li>Professionnalisme</li>
</ul>
{% endblock %}

