{% extends "base.html" %}
{% block title %}Accueil - Clean Company{% endblock %}

{% block content %}
<section class="hero">
  <div class="container hero-content">
    <div class="hero-text">
      <h1>Nettoyage professionnel pour vos bureaux et locaux</h1>
      <p>Propreté, fiabilité et rapidité – confiez vos espaces à des experts de la propreté.</p>
      <div class="hero-buttons">
        <a href="/quote" class="btn">🧾 Demander un devis</a>
        <a href="https://wa.me/243978911409" target="_blank" class="btn outline">💬 Contact WhatsApp</a>
      </div>
    </div>
    
  </div>
</section>

<h3>Vision</h3>
<p>Etre le référence incontournable dans le domaine de l'accueil, de m'hospitalité
  , de l'entretien et du service  à domicile en incarnant <strong>l'excellence, l'élégance 
    et le Professionnalisme
  </strong>.
</p>

<h3>Mission</h3>
<p>offrir  des services professionnels avec <strong>élégance, dignité et efficacité.</strong>
<br>valoriser l'image et le confort de nos clients grâce au <strong>savoir-faire, à la courtoisie
  et à la disponibilité 
</strong> de notre équipe</p>
<section class="features container">
  <article>
    <img src="/static/images/clean-office.jpg" alt="Nettoyage de bureaux" class="feature-img">
    <h3>Bureaux & Entreprises</h3>
    <p>Un environnement de travail impeccable pour vos équipes.</p>
  </article>

  <article>
    <img src="/static/images/clean-house.jpg" alt="Nettoyage de maisons" class="feature-img">
    <h3>Maisons & Appartements</h3>
    <p>Propreté et fraîcheur jusque dans les moindres détails.</p>
  </article>

  <article>
    <img src="/static/images/clean-window.jpg" alt="Nettoyage de vitres" class="feature-img">
    <h3>Vitres & Façades</h3>
    <p>Des vitres éclatantes et sans traces pour une image professionnelle.</p>
  </article>

  
    <div class="hero-image">
      <img src="/static/images/hero-clean.jpg" alt="Nettoyage professionnel">
    </div>

    <div class="hero-image">
      <img src="/static/images/cuisine.jpg" alt="Nettoyage professionnel">
    </div>

    <div class="hero-image">
      <img src="/static/images/douche.jpg" alt="Nettoyage professionnel">
    </div>
  
</section>

<section class="before-after">
  <h2>✨ Avant / Après nos interventions</h2>
  <div class="gallery">
    <div class="photo">
      <a href="/static/images/avant1.jpg"><img src="/static/images/avant1.jpg" alt="Avant nettoyage"></a>
      <p>Avant</p>
    </div>
    <div class="photo">
      <a href="/static/images/apres1.jpg"><img src="/static/images/apres1.jpg" alt="Après nettoyage"></a>
      <p>Après</p>
    </div>

    <div class="photo">
      <a href="/static/images/avant2.jpg"><img src="/static/images/avant2.jpg" alt="Avant nettoyage"></a>
      <p>Avant</p>
    </div>
    <div class="photo">
      <a href="/static/images/apres2.jpg"><img src="/static/images/apres2.jpg" alt="Après nettoyage"></a>
      <p>Après</p>
    </div>
  </div>
</section>

{% endblock %}
