{% extends "base.html" %}
{% block title %}Services - Clean Company{% endblock %}
{% block content %}
<h2>Nos services</h2>
<section class="features container">
  <article>
    <img src="/static/images/clean-office.jpg" alt="Nettoyage de bureaux" class="feature-img">
    <h3>Bureaux & Entreprises</h3>
    <p>Un environnement de travail impeccable pour vos équipes.</p>
  </article>

  <article>
    <img src="/static/images/clean-house.jpg" alt="Nettoyage de maisons" class="feature-img">
    <h3>Maisons & Appartements</h3>
    <p>Propreté et fraîcheur jusque dans les moindres détails.</p>
  </article>

  <article>
    <img src="/static/images/clean-window.jpg" alt="Nettoyage de vitres" class="feature-img">
    <h3>Vitres & Façades</h3>
    <p>Des vitres éclatantes et sans traces pour une image professionnelle.</p>
  </article>

  <article>
    <img src="/static/images/affiche.jpg" alt="affiche nounou et bonne" class="feature-img">
    <h3>Nounou & Bonne</h3>
    <p>Des nounous et bonnes pour la garde de vos enfants et l'entrétien de votre maison.</p>
  </article>
  
</section>
<a class="btn" href="/quote">Demander un devis</a>
{% endblock %}
